<div class="col col-lg-6" *ngIf="'selectedUserIndex < 0'">
  <div class="pad">
    <h2>User Details</h2>
    <form name="userDetails">
      <div class="form-group" style="padding: auto;">
        <button
          (click)="previousPicture()"
          class="btn btn-outline-info picture-buttons"
          style="margin: auto;"
        >
          <
        </button>
        <img [src]="picture" alt="" style="width: 200px; text-align: center;" />
        <button
          (click)="nextPicture()"
          class="btn picture-buttons btn-outline-info"
          style="float: right;"
        >
          >
        </button>
      </div>
      <div class="form-group">
        <label for="name">Name</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <i class="fa fa-user input-group-text" aria-hidden="true"></i>
          </div>
          <input
            type="text"
            class="form-control form-control-lg"
            placeholder="Name"
            name="name"
            title="Name"
            id="name"
            required
            [value]="name || ''"
          />
        </div>
      </div>
      <div class="form-group">
        <label for="surname">Surname</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <i class="fa fa-user input-group-text" aria-hidden="true"></i>
          </div>
          <input
            type="text"
            class="form-control"
            placeholder="Surname"
            name="surname"
            title="Surname"
            required
            [value]="surname || ''"
          />
        </div>
      </div>

      <div class="form-group">
        <label for="surname">Email</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <i class="fa fa-envelope input-group-text" aria-hidden="true"></i>
          </div>
          <input
            type="email"
            class="form-control"
            placeholder="Email"
            name="email"
            title="Email"
            id="email"
            required
            [value]="email || ''"
          />
        </div>
      </div>

      <div class="form-group">
        <label for="surname">ID</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <i class="fa fa-id-card input-group-text" aria-hidden="true"></i>
          </div>
          <input
            type="text"
            class="form-control"
            placeholder="ID"
            pattern="[0-9]{13}"
            name="id"
            id="id"
            title="ID Number"
            required
            [value]="id || ''"
          />
        </div>
      </div>

      <div class="form-group">
        <label for="surname">Contact Number</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <i
              class="fa fa-phone-square input-group-text"
              aria-hidden="true"
            ></i>
          </div>
          <input
            type="text"
            class="form-control"
            placeholder="Contact"
            name="contact"
            id="contact"
            title="Contact Number"
            required
            pattern="[0][0-9]{9}"
            [value]="contact || ''"
          />
        </div>
      </div>
      <div class="input-group mb-3">
        <input
          type="submit"
          class="btn btn-block btn-primary buttons"
          name="Save"
          value="Save New User"
          (click)="saveUser()"
        />
        <button class="btn btn-block btn-info buttons" (click)="cancel()">
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
