<div class="col col-lg-6" *ngIf="'selectedUserIndex < 0'">
  <div class="pad" *ngIf="user">
    <h2>User Details</h2>
    <form name="userDetails">
      <div class="form-group">
        <label for="name">Name</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <i class="fa fa-user input-group-text" aria-hidden="true"></i>
          </div>
          <input
            type="text"
            class="form-control"
            placeholder="Name"
            name="name"
            title="Name"
            id="name"
            required
            [value]="user.name || ''"
          />
        </div>
      </div>
      <div class="form-group">
        <label for="surname">Surname</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <i class="fa fa-user input-group-text" aria-hidden="true"></i>
          </div>
          <input
            type="text"
            class="form-control"
            placeholder="Surname"
            name="surname"
            title="Surname"
            required
            [value]="user.surname"
          />
        </div>
      </div>

      <div class="form-group">
        <label for="surname">Email</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <i class="fa fa-envelope input-group-text" aria-hidden="true"></i>
          </div>
          <input
            type="email"
            class="form-control"
            placeholder="Email"
            name="email"
            title="Email"
            id="email"
            required
            [value]="user.email || ''"
          />
        </div>
      </div>

      <div class="form-group">
        <label for="surname">ID</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <i class="fa fa-id-card input-group-text" aria-hidden="true"></i>
          </div>
          <input
            type="text"
            class="form-control"
            placeholder="ID"
            pattern="[0-9]{13}"
            name="id"
            id="id"
            title="ID Number"
            required
            [value]="user.id || ''"
          />
        </div>
      </div>

      <div class="form-group">
        <label for="surname">Contact Number</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <i
              class="fa fa-phone-square input-group-text"
              aria-hidden="true"
            ></i>
          </div>
          <input
            type="text"
            class="form-control"
            placeholder="Contact"
            name="contact"
            id="contact"
            title="Contact Number"
            required
            pattern="[0][0-9]{9}"
            [value]="user.contact || ''"
          />
        </div>
      </div>
      <div class="input-group mb-3">
        <input
          type="submit"
          class="btn btn-block btn-info buttons"
          name="Save"
          value="Save"
          (click)="editUser()"
        />
        <button class="btn btn-block btn-danger buttons" (click)="deleteUser()">
          Delete User
        </button>
      </div>
    </form>
  </div>
</div>
