html {
  padding: 0;
  margin: 0;
}
body {
  background-color: #1d2029;
  padding-top: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.row {
  display: flex;
}

.col {
  flex: 1;
  background-color: #252b43;
  padding: 0;
  margin: 0.5rem;
  border-radius: 4%;
  /* border-top: 2px, solid, #fdcd3b; */
}

.contents {
  padding: 0.8rem;
}
.center {
  text-align: center;
}

.boarder {
  border-radius: 4%;
  padding: 0;
  margin: 0;
  height: 0.3rem;
  background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
}

.handle {
  color: grey;
  vertical-align: center;
}

.followers {
  color: white;
  font-size: 3rem;
  font-weight: bold;
}

.followers-text {
  color: grey;
  font-size: 0.8rem;
}

.increase {
  color: green;
  font-weight: bold;
  font-size: 0.7rem;
}

.decrease {
  color: red;
  font-weight: bold;
  font-size: 0.7rem;
}

.heading {
  font-weight: bold;
  font-size: 1.3rem;
  color: white;
}

.page-views {
  font-weight: bold;
  font-size: 0.8em;
}
.page-views-amount {
  font-weight: bold;
}

.bottom {
  bottom: 0;
}
